body {
    background-color: rgb(224, 198, 224);
}

.wrapper {
    background-color: grey;
    padding-bottom: 50px;
    border-radius: 10px;
    margin-top: 20px;
}

input {
    position: relative;
}

#eyeToggle {
    position: absolute;
    left: 642px;
    top: 80px;
}

#userNameInput {
    margin-left: 500px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-color: grey;
    margin-top: 50px;
}

#userNameInput {
    border: black;
    border-radius: 5px;
}

.divForForgotAndNext {
    margin-left: 500px;
    margin-top: 50px;
}

.divForForgotAndNext .forgotPassword {
    text-decoration: none;
    background-color: lightsteelblue;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
}

.divForForgotAndNext button {
    background-color: lightsteelblue;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    border-radius: 3px;
}