.main-container {
    max-width: 1440px;
}

.header .navbar {
    display: none;
}

.header .login {
    display: none;
}

.header {
    width: 100%;
}

.header-line {
    display: none;
}

.logo {
    width: 35.46%;
    padding-right: 121px;
    padding-left: 121px;
    padding-top: 14px;
    padding-bottom: 33px;
    display: inline-block;
}

.menu .fa {
    padding-left: 20px;
}

.logo .logo-lemburs {
    font-family: 'Playfair';
    /* font-weight: 700; */
    font-style: normal;
    font-size: 32px;
    padding-left: 30px;
}

.image-content-button {
    width: 375px;
}

.image-content-button .content {
    margin-left: 21px;
    margin-right: 20px;
}

.image-box img {
    width: 100%;
}

.content .content-small {
    font-weight: 700;
    font-style: normal;
    font-size: 27px;
    font-family: 'Playfair Display';
}

.content-one-span {
    color: orangered;
}

.content .content-large {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    font-family: 'lato';
}

.image-content-button>.button-box {
    width: 89.33%;
}

.btn {
    border: none;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
    cursor: pointer;
    width: 89.33%;
    margin-top: 20;
}

.warning {
    background-color: orangered;
}

.warning:hover {
    background: orangered;
}

.default {
    background-color: #e7e7e7;
    color: black;
    margin-top: 20px;
}

.default:hover {
    background: #ddd;
}

.workspace {
    width: 89.33%;
    margin-right: 20px;
    margin-left: 20px;
}

.workspace-image .img1,
.img2 {
    width: 89.33%;
}

.workspace .workspace-content h1 {
    font-family: 'Playfair Display';
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    text-align: left;
}

.workspace-content .workspace-content-right {
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}

.workspace-text {
    width: 89.33%;
    background-color: #2C394B;
    color: white;
    padding-top: 21px;
    padding-bottom: 21px;
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 24px;
}

.workspace-text img {
    padding-left: 90px;
}

.workspace-text .officespace {
    padding-left: 30px;
}

.facilities {
    width: 89.866%;
    margin-left: 20px;
    margin-right: 20px;
}

.facilities-content .facilities-content_left {
    font-family: 'Playfair Display';
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    text-align: left;
}

.facilities-content span {
    color: #FF4C29;
}

.facilities-content .facilities-content_right {
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    margin-top: 12px;
}

.facilities-button-image .button-group {
    text-align: center;
}

.button-group .white {
    background-color: white;
    font-family: 'Lato';
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
}

.button-group .orange {
    background-color: orangered;
    /* padding-bottom: 10px; */
    padding: 14px, 24px;
    font-family: 'Lato';
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
}

.facilities-image img {
    display: none;
}

.location {
    width: 100%;
    background-color: #F6F6F6;
    padding-bottom: 49px;
    padding-top: 40px;
}

.location .location-content {
    width: 89.33%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
}

.location-content .location-content-small {
    font-weight: 700;
    font-style: normal;
    font-size: 27px;
    font-family: 'Lora';
}

.location-content-small span {
    color: orangered;
}

.location-content .location-content-large {
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
}

.location .location-image img {
    width: 100%;
}

.location-arrow {
    display: inline-block;
}

.location-arrow img {
    padding-left: 30px;
}

.location-arrow span {
    padding-left: 20px;
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    color: blue;
    text-align: left;
}

.testimonials {
    width: 89.33%;
    margin-left: 20px;
    margin-right: 20px;
}

.testimonials h1 {
    width: 57.61%;
    font-style: 'Lora';
    font-weight: 700;
    font-style: normal;
    font-size: 27px;
}

h1 .customers {
    color: orangered;
}

.testimonials-quote-text {
    background-color: #334756;
    color: white;
}

.testimonials-quote p {
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    margin-left: 35px;
    margin-right: 39px;
}

.testimonials-quote img {
    padding-top: 14px;
    padding-left: 24px;
}

.text .name {
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    text-align: left;
}

.text .position {
    font-family: 'Lato';
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    text-align: left;
}

.user img {
    margin-left: 34.67px;
    margin-right: 16px;
}

.text {
    width: 40%;
    margin-left: 82.67px;
    padding-bottom: 35.89px;
}

.company {
    width: 89.33%;
    margin-left: 24px;
    margin-right: 16px;
}

.company h1 {
    font-family: 'Playfair';
    font-weight: 700;
    font-style: normal;
    font-size: 27px;
}

h1 .top {
    color: orangered;
}

.company-text p {
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}

.company-image {
    width: 55.55%;
    margin-left: 83px;
    margin-right: 83px;
    margin-bottom: 28px;
    margin-top: 40px;
}

.company-image .zoom {
    width: 64%;
    padding-top: 5px;
}

.company-image .grab {
    width: 47.89%;
    padding-top: 20px;
}

.company-image .googlemeet {
    width: 98.79%;
    padding-top: 20px;
}

.company-image .microsoft {
    width: 82.09%;
    padding-top: 20px;
}

.trends {
    width: 89.6%;
    margin-left: 20px;
    margin-right: 20px;
}

.trends h1 {
    width: 81.33%;
    font-family: 'Playfair';
    font-weight: 700;
    font-style: normal;
    font-size: "27px";
}

.trends h1 span {
    color: orangered;
}

.card1 img {
    width: 89.33%;
}

.container h4 {
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    text-align: left;
    padding-left: 20px;
}

.container span {
    font-family: 'Lato';
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    padding-left: 20px;
}

.card2 {
    display: none;
}

.card3 {
    display: none;
}

.card4 {
    display: none;
}

.footer {
    background-color: #F6F6F6;
}

.contacts .lemburs-goals {
    list-style: none;
}

.company {
    display: none;
}

.partnership {
    display: none;
}

.support {
    display: none;
}

.lemburs-goals {
    width: 51.46%;
    margin-left: 20px;
    margin-top: 40px;
    margin-right: 162px;
}

.lemburs-goals li {
    padding-top: 24px;
}

.language {
    width: 33.86%;
}

.lemburs-goals .lemburss {
    font-family: 'Playfair Display';
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
}

.language .language-text {
    display: none;
}

.language .socialmedia {
    margin-left: 41px;
}

.line-text .footer-end_text {
    font-family: 'Lato';
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
}

.line-text span {
    font-family: 'Lato';
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
}