.header {
    background-color: white;
    padding-left: 149px;
}

.header>.logo {
    font-weight: 700;
    font-size: 32px;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-style: normal;
}

.header>.navbar>ul>li {
    display: inline-block;
    margin-left: 80px;
    margin-top: 53px;
}

.navbar {
    display: inline-block;
}

.login {
    display: inline-block;
    margin-left: 120px;
}

hr {
    color: black;
    width: 1440px;
}

.btn {
    border: none;
    color: white;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 25px;
    padding-left: 25px;
    cursor: pointer;
    margin-top: 63px;
}

.warning {
    background-color: orangered;
}

.warning:hover {
    background: orangered;
}

.default {
    background-color: #e7e7e7;
    color: black;
    margin-left: 20px;
}

.default:hover {
    background: #ddd;
}

.image-content-button {
    margin-top: 80px;
    margin-left: 149px;
    margin-right: 116px;
}

.image-content-button>.image-box {
    display: inline-block;
}

.image-content-button>.content {
    display: inline-block;
    vertical-align: top;
    padding-left: 50px;
}

.image-content-button>.content>.content-small {
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    font-family: Playfair Display;
}

.image-content-button>.content>.content-large {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    font-family: lato;
}

.content-one-span {
    color: orangered;
}

.content {
    width: 350px;
}

.image-content-button>.button-box {
    margin-top: 70px;
    display: inline-block;
    padding-left: 700px;
    vertical-align: top;
}

.image-content-button {
    display: inline-block;
}

.workspace {
    margin-top: 80px;
    margin-left: 149px;
    margin-right: 116px;
}

.workspace>.workspace-content>.workspace-content-right {
    display: inline-block;
    vertical-align: top;
    padding-left: 350px;
    width: 350px;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    font-family: lato;
}

.workspace {
    display: inline-block;
}

.workspace>.workspace-content>h1 {
    display: inline-block;
    font-size: 32px;
    font-weight: 700;
}

.workspace>.workspace-image>img {
    width: 310px;
    height: 200px;
    padding-left: 40px;
}

.workspace>.workspace-image {
    margin-top: 69px;
    display: inline-block;
}

.workspace>.workspace-image>.workspace-text {
    background-color: #2C394B;
    color: white;
    width: 310px;
    height: 64px;
    margin-left: 40px;
    padding-top: 21px;
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.workspace>.workspace-image>.workspace-text>.officespace {
    padding-left: 16px;
    padding-right: 120px;
}

.workspace>.workspace-image>.workspace-text_moredetails {
    background-color: #FF4C29;
    color: white;
    width: 310px;
    height: 64px;
    margin-left: 40px;
    padding-top: 21px;
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.workspace>.workspace-image>.workspace-text_moredetails>.more-details {
    padding-right: 72px;
}

.facilities {
    margin-top: 80px;
    margin-left: 149px;
    margin-right: 116px;
}

.facilities>.facilities-content>.facilities-content_left {
    display: inline-block;
    font-size: 32px;
    font-weight: 700;
    width: 350px;
    font-family: Lora;
}

.facilities>.facilities-content>.facilities-content_right {
    display: inline-block;
    vertical-align: top;
    padding-left: 120px;
    padding-top: 24px;
    width: 350px;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    font-family: lato;
}

.facilities .facilities-content .needs {
    color: orangered;
}

.facilities>.facilities-button-image>.button-group>.white {
    background-color: white;
    font-family: Lato;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
}

.facilities>.facilities-button-image>.button-group>.orange {
    background-color: orangered;
    padding-bottom: 10px;
    font-family: Lato;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
}

.facilities>.facilities-button-image>.button-group {
    color: black;
    margin-top: 30px;
    margin-right: 200px;
    float: left;
}

.facilities-button-image>.facilities-image>img {
    width: 587px;
    height: 351px;
}

.facilities>.facilities-button-image>.facilities-image {
    display: inline-block;
    margin-left: 50px;
}

.location {
    margin-top: 78px;
    background-color: #F6F6F6;
}

.location>.location-image>img {
    padding-left: 51px;
    padding-top: 80px;
    padding-bottom: 93px;
    width: 600px;
}

.location>.location-image {
    display: inline-block;
}

.location>.location-content {
    display: inline-block;
    vertical-align: top;
    padding-left: 50px;
    margin-left: 149px;
}

.location>.location-content>.location-content-small {
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    font-family: Playfair Display;
    width: 385px;
}

.location>.location-content>.location-content-small>.where {
    color: orangered;
}

.location>.location-content>.location-content-large {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    font-family: lato;
    width: 385px;
}

.location>.location-content>.location-arrow {
    display: inline-block;
}

.location>.location-content {
    display: inline-block;
}

.location>.location-content>.location-arrow>img {
    display: inline-block;
}

.testimonials {
    margin-top: 80px;
    margin-left: 149px;
    margin-right: 116px;
}

.testimonials>.testimonials-content>h1 {
    display: inline-block;
    font-size: 32px;
    font-weight: 700;
}

.testimonials>.testimonials-content>h1>.customers {
    color: orangered;
}

.testimonials>.testimonials-image>img {
    position: relative;
}

.testimonials>.testimonials-image_text1 {
    position: absolute;
    top: 613%;
    left: 15%;
    color: white;
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
}

.testimonials>.testimonials-image_text2 {
    position: absolute;
    top: 665%;
    left: 15%;
    color: white;
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
}

.testimonials>.testimonials-image_text3 {
    position: absolute;
    top: 713%;
    left: 15%;
    color: white;
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
}

.testimonials>.testimonials-image>.img1 {
    width: 310px;
    height: 200px;
    display: inline-block;
    padding-left: 40px;
}

.testimonials-image_text1,
.testimonials-image_text2,
.testimonials-image_text3 {
    display: inline-block;
}

.company>.company-text_h1 {
    width: 770px;
    height: 53px;
    margin-left: 320px;
    margin-right: 339px;
    font-family: 'Playfair Display';
    font-style: normal;
}

.company>.company-text_h1>h1>.top {
    color: orangered;
}

.company>.company-text {
    width: 584px;
    height: 36px;
    margin-left: 350px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
}

.company>.company-text {
    text-align: center;
}

.company>.company-image {
    margin-top: 80px;
}

.company>.company-image>img {
    margin-left: 170px;
}

.trends>.trends-image_card>.card1 {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 360px;
    height: 240px;
    margin-left: 16px;
}

.trends>.trends-image_card {
    margin-top: 40px;
}

.trends>.trends-image_card>.card1:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.trends>.trends-image_card>.card1>.container {
    padding: 2px 16px;
}

.trends>.trends-image_card>.card1>.container>h4 {
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
}

.trends>.trends-text>h1>.trendspan {
    color: orangered;
}

.trends>.trends-text>h1>.insights {
    color: orangered;
}

.trends>.trends-image_card>.card1>.container>p {
    font-family: Lato;
    font-size: 10px;
    font-weight: 300;
}

.trends>.trends-image_card>.card1 {
    display: inline-block;
}

.trends {
    margin-top: 80px;
    margin-left: 149px;
}

.trends>.trends-image_card>.card1>.high {
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    text-align: left;
    padding-left: 16px;
    padding-right: 16px;
}

.trends>.trends-image_card>.card1>.startup {
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    padding-left: 16px;
    padding-right: 16px;
}

.trends>.trends-image_card>.card1>.container {
    padding-top: 16px;
}

.footer {
    background-color: #F7F7F7;
    padding-top: 90px;
    padding-bottom: 90px;
}

.footer>.contacts>.lemburs-goals {
    list-style: none;
}

.footer>.contacts>ul>li {
    padding-top: 4px;
}

.footer>.contacts {
    margin-left: 149px;
    margin-right: 116px;
}

.footer>.contacts>.footer-contacts_text {
    margin-left: 45px;
    font-family: 'Playfair Display';
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    vertical-align: top;
}

.footer>.company>.company-goals {
    list-style: none;
}

.footer>.contacts,
.company,
.partnership,
.support,
.language {
    display: inline-block;
    vertical-align: top;
}

.footer>.partnership>.partnership-goals {
    list-style: none;
}

.footer>.support>.support-goals {
    list-style: none;
}

.footer>.language {
    padding-left: 200px;
}

.footer>.line-text {
    margin-left: 395px;
    margin-right: 395px;
}

.footer>.line-text>.footer-end_text {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 16px;
    font-style: normal;
    margin-left: 150px;
}